/* game board table */
#board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#board td {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  margin-bottom: 10px;
}

.message {
  position: absolute;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 8rem;
  background-color: black;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
  height: 20%;
  width: 100vw;
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: absolute;
  margin-right: -3px;
  margin-left: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.five {
  top: -300px;
}

.four {
  top: -280px;
}

.three {
  top: -230px;
}

.two {
  top: -180px;
}

.one {
  top: -130px;
}

.zero {
  top: 0px;
}

.lower {
  top: 5px;
  transition: top 1.5s;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}
