/* game board table */
#board {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#board td {
  position: relative;
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  margin-bottom: 10px;
}

.message {
  position: absolute;
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 8rem;
  background-color: black;
  color: white;
  text-align: center;
  top: 0;
  left: 0;
  height: 20%;
  width: 100vw;
}

svg {
  position: absolute;
  height: 49%;
  width: 20%;
  top: 32%;
  left: 14.5%;
  max-height: 350px;
}

#svg2 {
  position: absolute;
  height: 49%;
  width: 20%;
  top: 32%;
  left: 65.5%;
  max-height: 350px;
  transform: scaleX(-1);
}
/* pieces are div within game table cells: draw as colored circles */

.piece {
  /* TODO: make into circles */
  position: absolute;
  margin-right: -3px;
  margin-left: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.five {
  top: -300px;
}

.four {
  top: -280px;
}

.three {
  top: -230px;
}

.two {
  top: -180px;
}

.one {
  top: -130px;
}

.zero {
  top: 0px;
}

.lower {
  top: 5px;
  transition: top 1.5s;
}

/* TODO: make pieces red/blue,  depending on player 1/2 piece */
.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

@media screen and (max-width: 1500px) {
  svg {
    left: 20.15%;
  }

  #svg2 {
    left: 59.8%;
  }
}

@media screen and (max-width: 1400px) {
  svg {
    left: 18.5%;
  }

  #svg2 {
    left: 61.4%;
  }
}

@media screen and (max-width: 1300px) {
  svg {
    left: 16.5%;
  }

  #svg2 {
    left: 63.4%;
  }
}

@media screen and (max-width: 1200px) {
  svg {
    left: 14.5%;
  }

  #svg2 {
    left: 65.4%;
  }
}

@media screen and (max-width: 1100px) {
  svg {
    left: 12.5%;
  }

  #svg2 {
    left: 67.4%;
  }
}

@media screen and (max-width: 1000px) {
  svg {
    left: 10.5%;
  }

  #svg2 {
    left: 69.4%;
  }
}

@media screen and (max-width: 900px) {
  .message {
    font-size: 6rem;
  }
  svg {
    left: 6.5%;
  }

  #svg2 {
    left: 72.8%;
  }
}

@media screen and (max-width: 800px) {
  svg {
    left: 5.3%;
    height: 80%;
    top: 32%;
  }

  #svg2 {
    left: 74.6%;
    top: 31.5%;
  }
}

@media screen and (max-width: 700px) {
  svg {
    left: -.5%;
    height: 50%;
    width: 30%;
    display: none;
  }

  #svg2 {
    left: 75.4%;
  }
}

@media screen and (max-width: 600px) {
  .message {
    font-size: 5rem;
  }
}

@media screen and (max-width: 600px) {
  .message {
    font-size: 4rem;
  }
}

